h1, h2, h3 {
  @apply
    font-serif
    font-bold
  ;
}

h1 {
  @apply
    text-3xl
    mb-4
    lg:text-4xl
  ;
}

h2 {
  @apply
    text-xl
    mb-4
    lg:text-3xl
  ;
}

p {
  @apply
    lg:text-lg
  ;
}

p.lede {
  @apply text-lg;
}