<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% if page.url == "/" %}
        Recipes for Mum
      {% else %}
        {{ page.title | append: " - Recipes for Mum" }}
      {% endif %}
    </title>
    <meta name="description" content="{{ page.description }}">
    <link rel="preconnect" href="https://use.typekit.net">
    <link rel="stylesheet" href="https://use.typekit.net/zoo0gda.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <link rel="apple-touch-icon" href="/assets/images/favicon-196.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32.png">
    <meta name="robots" content="none">
    <link href="{{ site.url }}" rel="canonical">
    <link href="{{ site.url }}" rel="home">
    <link type="text/plain" href="{{ site.url }}/humans.txt" rel="author">
    <meta name="theme-color" content="#a5402d">
  </head>
  <body class="font-sans b-red c-dark-sienna border border-16 br-red leading-tight">

    <article class="max-w-7xl mx-auto">
      <header class="text-center b-dark-sienna rounded-t-lg px-4 {% if page.url == '/' %} py-12 {% else %} py-6 {% endif %}">
        <h1 class="{% if page.url != '/' %} text-2xl {% endif %} no-underline transition-all duration-200 hover:underline focus:underline"><a href="/">Recipes for Mum</a></h1>
        {% if page.url == "/" %}
          <p class="lede">{{ page.description }}</p>
        {% endif %}
      </header>

      <main class="px-4 b-cultured py-8">
        {{ content }}
      </main>

      <footer class="px-4 b-khaki py-4 text-center rounded-b-lg">
        <p>Built with &hearts; by Mat x</p>
      </footer>
      
    </article>

  </body>
</html>